<template>
  <div id="app">
    <b-container class="p-3 mt-3">
      <b-card class="text-center rounded-lg shadow-lg" header="数独">
        <b-row class="justify-content-center mb-4">
          <b-col lg="6" md="12">
            <b-form @submit.prevent="randomStart">
              <b-row v-if="!started && !manual" class="justify-content-center">
                <b-col cols="8">
                  <b-input-group>
                    <b-form-input placeholder="初始数字数" v-model.number="start_num_count"></b-form-input>
                    <b-input-group-append>
                      <b-button type="submit" variant="primary">随机开局</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-col>
                <b-col cols="4">
                  <b-button type="button" variant="primary" @click="manualSet">手动开局</b-button>
                </b-col>
              </b-row>
              <b-row v-else-if="!started && manual" class="justify-content-center">
                <b-col cols="12">
                  <b-button type="button" variant="primary" @click="manualStart">开局</b-button>
                </b-col>
              </b-row>
              <b-button-group v-else>
                <b-button variant="success" @click="zhangFeng">张锋算法</b-button>
                <b-button variant="success" @click="sunQingyu">孙青宇算法</b-button>
                <b-button variant="danger" @click="end">结束</b-button>
              </b-button-group>
            </b-form>
          </b-col>
        </b-row>
        <b-row v-if="generating" class="justify-content-center mb-4">
          <b-col cols="12">
            <b-progress :value="100" animated striped></b-progress>
          </b-col>
        </b-row>
        <b-form-row
          class="justify-content-center mb-2"
          :class="{ 'mt-4': r_index !== 0 && r_index % 3 === 0 }"
          v-for="(row, r_index) in map"
          :key="r_index"
        >
          <b-col
            v-for="(item, i_index) in row"
            :key="i_index"
            :class="{ 'ml-3': i_index !== 0 && i_index % 3 === 0 }"
          >
            <b-form-input
              v-model.number="map[r_index][i_index]"
              :disabled="disable_map[r_index][i_index]"
              :state="started ? color_map[r_index][i_index] : null"
              @input="check(r_index, i_index)"
            ></b-form-input>
          </b-col>
        </b-form-row>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "app",
  data: function() {
    return {
      manual: false,
      start_num_count: "",
      generating: false,
      started: false,
      map: [],
      disable_map: [],
      color_map: [],
      groups: [],
      rows: [],
      columns: []
    };
  },
  watch: {
    started: function(newStarted) {
      if (!newStarted) {
        this.clearMap();
        this.start_num_count = "";
      }
    }
  },
  mounted: function() {
    this.clearMap();
  },
  methods: {
    clearMap: function() {
      this.map = [...Array(9)].map(() => [...Array(9)].map(() => ""));
      this.disable_map = [...Array(9)].map(() => [...Array(9)].map(() => true));
      this.color_map = [...Array(9)].map(() => [...Array(9)].map(() => true));
      this.groups = [...Array(9)].map(() => [...Array(9)].map(() => true));
      this.rows = [...Array(9)].map(() => [...Array(9)].map(() => true));
      this.columns = [...Array(9)].map(() => [...Array(9)].map(() => true));
    },
    randomStart: function() {
      if (!Number.isInteger(this.start_num_count)) {
        alert("请输入初始数字数");
        return false;
      }
      if (!(this.start_num_count >= 17)) {
        alert("初始数字数不能小于 17");
        return false;
      }
      function generateSudoku() {
        let array = new Array(9);
        for (let i = 0; i < 9; i++) {
          array[i] = new Array(9);
        }
        let time = new Date().getTime();
        for (let j = 0; j < 9; j++) {
          let idxInList;
          let notComplete = true;
          while (notComplete) {
            idxInList = [];
            for (let k = 0; k < 9; k++) {
              let avalibIdx = avalibleIdx(array[k], k, idxInList);
              if (avalibIdx !== undefined) {
                idxInList.push(avalibIdx);
              }
            }
            if (idxInList.length === 9) {
              notComplete = false;
            } else if (new Date().getTime() - time > 1000) {
              return false;
            }
          }
          for (let n = 0; n < idxInList.length; n++) {
            array[n][idxInList[n]] = j + 1;
            if (j === 8 && n === 8) {
              return array;
            }
          }
        }
      }
      function avalibleIdx(rowList, idxOfRowList, idxInList) {
        let avalibleList = [];
        for (let m = 0; m < 9; m++) {
          if (rowList[m] === undefined && idxInList.indexOf(m) === -1) {
            if (idxOfRowList % 3 === 0) {
              avalibleList.push(m);
            } else {
              let blockLastIndex = idxInList[idxInList.length - 1];
              if (
                (blockLastIndex < 3 && m < 3) ||
                (blockLastIndex >= 3 &&
                  blockLastIndex < 6 &&
                  (m >= 3 && m < 6)) ||
                (blockLastIndex >= 6 && m >= 6)
              ) {
                continue;
              } else {
                if (idxOfRowList % 3 === 2) {
                  let blockAheadIdx = idxInList[idxInList.length - 2];
                  if (
                    (blockAheadIdx < 3 && m < 3) ||
                    (blockAheadIdx >= 3 &&
                      blockAheadIdx < 6 &&
                      (m >= 3 && m < 6)) ||
                    (blockAheadIdx >= 6 && m >= 6)
                  ) {
                    continue;
                  }
                }
                avalibleList.push(m);
              }
            }
          }
        }
        let resultList = Array.from(new Set(avalibleList));
        return resultList[Math.floor(Math.random() * resultList.length)];
      }
      const wait = ms =>
        new Promise(resolve => {
          setTimeout(resolve, ms);
        });
      (async () => {
        this.generating = true;
        let map;
        while (!map) {
          await wait(10);
          map = generateSudoku();
        }
        this.map = map;
        const generateRandom = function() {
          return Math.floor(Math.random() * 9 + 1);
        };
        for (let i = 0; i < 9 * 9 - this.start_num_count; i++) {
          const row = generateRandom() - 1;
          const col = generateRandom() - 1;
          this.disable_map[row][col] = false;
          this.map[row][col] = "";
        }
        this.checkMap();
        this.generating = false;
        this.started = true;
      })();
    },
    manualSet: function() {
      this.manual = true;
      this.disable_map = [...Array(9)].map(() =>
        [...Array(9)].map(() => false)
      );
    },
    manualStart: function() {
      function check(i, j, grid) {
        if (grid[i][j] === "") {
          return true;
        }
        for (let column = 0; column < 9; column++) {
          if (column !== j && grid[i][column] === grid[i][j]) {
            return false;
          }
        }
        for (let row = 0; row < 9; row++) {
          if (row !== i && grid[row][j] === grid[i][j]) {
            return false;
          }
        }
        for (
          let row = Math.floor(i / 3) * 3;
          row < Math.floor(i / 3) * 3 + 3;
          row++
        ) {
          for (
            let col = Math.floor(j / 3) * 3;
            col < Math.floor(j / 3) * 3 + 3;
            col++
          ) {
            if (row !== i && col !== j && grid[row][col] === grid[i][j]) {
              return false;
            }
          }
        }
        return true;
      }
      function checkMap(map) {
        let result = true;
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            if (!check(i, j, map)) {
              result = false;
            }
          }
        }
        return result;
      }
      let count = 0;
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (this.map[i][j] !== "") {
            count++;
          }
        }
      }
      if (count < 17) {
        alert("初始数字数不能小于 17");
        return false;
      }
      if (checkMap(this.map)) {
        this.disable_map = [...Array(9)].map(() =>
          [...Array(9)].map(() => true)
        );
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            if (this.map[i][j] === "") {
              this.disable_map[i][j] = false;
            }
          }
        }
        this.started = true;
      } else {
        alert("初盘无效");
        return false;
      }
    },
    zhangFeng: function() {
      function isValid(i, j, grid) {
        // 检查行是否满足数独要求
        for (let column = 0; column < 9; column++) {
          if (column !== j && grid[i][column] === grid[i][j]) {
            return false;
          }
        }
        // 检查列是否满足数独要求
        for (let row = 0; row < 9; row++) {
          if (row !== i && grid[row][j] === grid[i][j]) {
            return false;
          }
        }
        // 检查3*3的格子中是否满足数独要求
        for (
          let row = Math.floor(i / 3) * 3;
          row < Math.floor(i / 3) * 3 + 3;
          row++
        ) {
          for (
            let col = Math.floor(j / 3) * 3;
            col < Math.floor(j / 3) * 3 + 3;
            col++
          ) {
            if (row !== i && col !== j && grid[row][col] === grid[i][j]) {
              return false;
            }
          }
        }
        return true; // 当前数值满足数独要求
      }
      // 传入grid数组，获取其所有空格位置并存储在freeCellList中
      function getFreeCellList(grid) {
        let freeCellList = new Array();
        let index = 0;
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            if (grid[i][j] === 0) {
              freeCellList[index] = new Array(i, j);
              index++;
            }
          }
        }
        return freeCellList;
      }
      // 主要部分：对每一个空格位置所填数据从1到9进行尝试
      // 若成功则继续尝试下一个空格，若失败，则进行回溯
      // 直到输出正确结果为止，跳出循环。
      function search(grid) {
        let freeCellList = getFreeCellList(grid);
        let numberOfFreeCells = freeCellList.length;
        if (numberOfFreeCells === 0) {
          return true;
        }
        let k = 0; // 从第一个空格开始
        for (;;) {
          let i = freeCellList[k][0];
          let j = freeCellList[k][1];
          if (grid[i][j] === 0) {
            grid[i][j] = 1;
          }

          if (isValid(i, j, grid)) {
            if (k + 1 === numberOfFreeCells) {
              // 没有剩余的空格了
              return true; // 求解成功
            } else {
              // 对下一个空格进行求解
              k++;
            }
          } else {
            if (grid[i][j] < 9) {
              // 逐个尝试
              grid[i][j]++;
            } else {
              // 当前空格所有值尝试完毕，未发现符合要求的值，进行回溯
              while (grid[i][j] === 9) {
                if (k === 0) {
                  return false; // 数独初盘存在问题
                }
                grid[i][j] = 0; // 重新置零
                k--; // 回溯
                i = freeCellList[k][0];
                j = freeCellList[k][1];
              }
              grid[i][j]++;
            }
          }
        }
      }
      const row = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      let map = [];
      for (let i = 0; i < 9; i++) {
        map.push(row.concat());
        for (let j = 0; j < 9; j++) {
          if (this.map[i][j] === "") {
            map[i][j] = 0;
          } else {
            map[i][j] = this.map[i][j];
          }
        }
      }
      search(map);
      this.map = map;
      this.checkMap();
    },
    sunQingyu: function() {
      const row = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      let matrix = [];
      for (let i = 0; i < 9; i++) {
        matrix.push(row.concat());
        for (let j = 0; j < 9; j++) {
          if (this.map[i][j] === "") {
            matrix[i][j] = 0;
          } else {
            matrix[i][j] = this.map[i][j];
          }
        }
      }
      function check(i, j, k) {
        //行列约束,宫约束，对应宫的范围 起始值为(i/3*3,j/3*3),即宫的起始位置行列坐标只能取0,3,6
        for (let index = 0; index < 9; index++) {
          if (matrix[i][index] === k) return false;
          if (matrix[index][j] === k) return false;
          if (
            matrix[Math.floor(Math.floor(i / 3) * 3 + Math.floor(index / 3))][
              Math.floor(Math.floor(j / 3) * 3 + Math.floor(index % 3))
            ] === k
          )
            return false;
        }
        return true;
      }
      function execute(i, j) {
        //寻找可填的位置（即空白格子），当前(i,j)可能为非空格，从当前位置当前行开始搜索
        //此处用于结束下面的双层循环
        outer: for (let x = i; x < 9; x++) {
          for (let y = 0; y < 9; y++) {
            if (matrix[x][y] === 0) {
              i = x;
              j = y;
              break outer;
            }
          }
        }
        //如果从当前位置并未搜索到一个可填的空白格子，意味着所有格子都已填写完了，所以找到了解
        if (matrix[i][j] !== 0) {
          return true;
        }
        //试填k
        for (let k = 1; k <= 9; k++) {
          if (!check(i, j, k)) continue;
          matrix[i][j] = k; //填充
          if (i === 8 && j === 8) {
            //填的正好是最后一个格子则输出解
            return true;
          }
          //计算下一个元素坐标，如果当前元素为行尾，则下一个元素为下一行的第一个位置（未填数），
          //否则为当前行相对当前元素的下一位置
          let nextRow = j < 9 - 1 ? i : i + 1;
          let nextCol = j < 9 - 1 ? j + 1 : 0;
          if (execute(nextRow, nextCol)) return true; //此处递归寻解，若未找到解，则返回此处,执行下面一条复位语句
          //递归未找到解，表示当前(i,j)填k不成功，则继续往下执行复位操作，试填下一个数
          matrix[i][j] = 0;
        }
        //1~9都试了
        return false;
      }
      execute(0, 0);
      this.map = matrix;
      this.checkMap();
    },
    isValid: function(item) {
      if (item === "") {
        return true;
      }
      if (!Number.isInteger(item)) {
        return false;
      }
      if (!(item >= 1 && item <= 9)) {
        return false;
      }
      return true;
    },
    checkMap: function() {
      let result = true;
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (!this.check(i, j)) {
            result = false;
          }
        }
      }
      return result;
    },
    check: function(row, col) {
      if (this.started) {
        if (!this.isValid(this.map[row][col])) {
          this.map[row][col] = "";
        }
      }
      let is_group_corret = this.checkGroup(row, col);
      let is_row_corret = this.checkRow(row);
      let is_col_corret = this.checkColumn(col);
      this.colorGroup(row, col, is_group_corret);
      this.colorRow(row, col, is_row_corret);
      this.colorColumn(row, col, is_col_corret);
      this.changeColor();
      return is_group_corret && is_row_corret && is_col_corret;
    },
    checkGroup: function(r, c) {
      const row = Math.floor(r / 3) * 3;
      const column = Math.floor(c / 3) * 3;
      let arr = [];
      for (let i = row; i < row + 3; i++) {
        for (let j = column; j <= column + 2; j++) {
          if (this.map[i][j] === 0) {
            continue;
          }
          if (this.map[i][j] === "") {
            return false;
          }
          arr.push(this.map[i][j]);
        }
      }
      return arr.toString() === Array.from(new Set(arr)).toString();
    },
    checkRow: function(r) {
      let arr = [];
      for (let i = 0; i < 9; i++) {
        if (this.map[r][i] === 0) {
          continue;
        }
        if (this.map[r][i] === "") {
          return false;
        }
        arr.push(this.map[r][i]);
      }
      return arr.toString() === Array.from(new Set(arr)).toString();
    },
    checkColumn: function(c) {
      let arr = [];
      for (let i = 0; i < 9; i++) {
        if (this.map[i][c] === 0) {
          continue;
        }
        if (this.map[i][c] === "") {
          return false;
        }
        arr.push(this.map[i][c]);
      }
      return arr.toString() === Array.from(new Set(arr)).toString();
    },
    colorGroup: function(r, c, is_success) {
      const row = Math.floor(r / 3) * 3;
      const column = Math.floor(c / 3) * 3;
      for (let i = row; i < row + 3; i++) {
        for (let j = column; j <= column + 2; j++) {
          this.groups[i][j] = is_success;
        }
      }
    },
    colorRow: function(r, c, is_success) {
      for (let i = 0; i < 9; i++) {
        this.rows[r][i] = is_success;
      }
    },
    colorColumn: function(r, c, is_success) {
      for (let i = 0; i < 9; i++) {
        this.columns[i][c] = is_success;
      }
    },
    changeColor: function() {
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          this.color_map[i][j] =
            this.groups[i][j] && this.rows[i][j] && this.columns[i][j];
        }
      }
    },
    end: function() {
      this.manual = false;
      this.started = false;
    }
  }
};
</script>
